# Archivos y carpetas generados automáticamente por el compilador
bin/
obj/

# Archivos de configuración del entorno de desarrollo (opcional, según tus necesidades)
.vscode/
.idea/

# Archivos temporales y específicos del sistema operativo
*.user
*.suo
*.tmp
*.log
*.bak
*.swp
.DS_Store
Thumbs.db
